@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300..1000&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    padding: 20px;
    font-family: sans-serif;
    min-height: 100vh;
    background-color: #232830;
    color: #fff;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

p {
    font-style: italic;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}


.navigation ul {
    flex-direction: row;
    margin: 2rem 5rem 0 0;
}
.navigation li  {
    margin: 0 9px 0 0;
    display: inline-block;
}
.navigation  li:nth-child(1){
    padding-right: 60rem;
}

.navigation a {
    color: rgba(255, 255, 255, 1);
    padding: 8px;
}
.navigation a:hover {
    color: #ff7575;
}


#logo {
    display: flex;
    justify-content: center;
    margin: 6rem 0 0 2rem;
}

section h2 {
    color: #ff7575;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    font-size: 50px;
    font-family: "Recursive", sans-serif;
    font-style: italic;
    font-weight: 400;
}

section p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    margin-bottom: 5rem;
}

.category img {
    margin-top: 10px;
    padding-left: 10px;
    cursor: pointer;
}

.category p{
    color:  #808080;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-left: 100px ;
    margin-top: 6px;
    margin-bottom: 5rem;
    cursor: pointer;
}

.article-listing {
    display: grid;
    justify-content: center;
    margin-left: 9%;
}

.cards div {
    grid-template-columns: repeat(3,1fr);
    border: 1px solid #ffffff;
    display: inline-block;
    width: min-content;
    height: max-content;
    top: 11px;
    border-radius: 2rem;
    justify-content: center;
    color: #000000;
    background-color: #fff;
    padding: 30px;
    margin: 20px;
}


.pagination{
    display: flex;
    justify-content: center;
}

.pagination li {
    display:inline-flex;
    justify-content: center;
    margin-top: 6rem;
}

.pagination p {
    color: #808080;
    font-weight: 400;
    border: 2px solid transparent;   
    line-height: 30px;
    font-size: 20px;
    margin: 1rem;
    width: 100%;
    padding: 0 1rem;
    cursor: pointer;
}
.pagination p:hover {
    border-top: 2px solid #ff7575 ;
    color: #ff7575;
    line-height: 30px;
    font-size: 20px;
}

.ending ul {
    display: flex;
    justify-content: space-between;
}

.ending li {
    margin: 2rem 2rem 3.4rem 0;
}

@media (max-width:800px){
    .navigation ul {
        display: flex;
        flex-direction: row;
        margin: 0;
    }
    .navigation li  {
        margin: 0 9px 0 0;
        /* display: flex; */
        /* flex-direction: row; */
    }
    .navigation  li:nth-child(1){
       padding: 0;
       display: none;
    }
    
    .category p{
        margin-left: 2% ;
    }

    .article-listing {
        margin-left: 0;
    }
    .cards div {
        grid-template-columns: repeat(2,20%);
        flex-wrap: nowrap;
        margin: 1%;
        padding: 1.2%;
    }

    .pagination p {
        margin: 0;
    }
}