@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300..1000&display=swap');

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    padding: 20px;
    font-family: sans-serif;
    min-height: 100vh;
    background-color: rgba(35, 40, 48, 1);
    color: #fff;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.navigation  li:nth-child(1){
    padding-right: 60rem;
}

.navigation li  {
    padding-right: 5px;
    margin-right: 1em;
    margin-top: 2rem;
    list-style-type: none;
    align-items: center;
    display: inline-block;
}

.navigation a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    align-items: center;
    padding: 8px;
}

.navigation a:hover {
    color: #ff7575;
}


#logo {
    display: flex;
    justify-content: center;
}

section h2 {
    color: #ff7575;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    font-size: 50px;
    font-family: "Recursive", sans-serif;
    font-style: italic;
    font-weight: 400;
}

section p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    margin-bottom: 5rem;
}

.category p{
    color: #808080;
    font-style: italic;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-left: 100px ;
    margin-top: 6px;
    margin-bottom: 5rem;
    cursor: pointer;
}

.category img {
    margin-top: 10px;
    padding-left: 10px;
    cursor: pointer;
}


.article-listing {
    display: flex;
    justify-content: space-around;
    margin-left: 5%;
}

.cards div {
    grid-template-columns: 3, 20%;
    border: 1px solid #ffffff;
    display: inline-block;
    width: min-content;
    height: max-content;
    top: 11px;
    border-radius: 2rem;
    justify-content: center;
    color: #000000;
    background-color: #fff;
    padding: 30px;
    margin: 19px;
}

 /* #python span {
    margin-top: 2rem;
} */

.pagination{
    display: flex;
    justify-content: center;
}

.pagination li {
    list-style-type: none;
    display:inline-flex;
    justify-content: center;
    gap: 120px;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-right: 10px;
}

.pagination a {
    color: #808080;
    text-decoration: none;
    font-weight: 400;
    border: 2px solid transparent;
    font-style: italic;
    line-height: 30px;
    font-size: 20px;
}


.pagination a:hover {
    border-top: 2px solid #ff7575 ;
    color: #ff7575;
    line-height: 30px;
    font-size: 20px;
}

.ending li {
    margin-top: 2rem;
    margin-left: 2em;
    margin-bottom: 4rem;
    list-style-type: none;
}